<template>
  <div>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Contract Data</h5>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Customer Name:</label>
          </div>
          <div class="col-8">
            <span v-if="contractData.customer">{{ contractData.customer.name }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Contract Number:</label>
          </div>
          <div class="col-8">
            <span>{{ contractData.contract_number }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Folder Number:</label>
          </div>
          <div class="col-8">
            <span>{{ contractData.folder_name }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Device Number:</label>
          </div>
          <div class="col-8">
            <span>{{ contractData.device_name }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Start Date:</label>
          </div>
          <div class="col-8">
            <span>{{ contractData.start_date }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">End Date:</label>
          </div>
          <div class="col-8">
            <span>{{ contractData.end_date }}</span>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-4">
            <label class="text-bold float-right">Contract Total:</label>
          </div>
          <div class="col-8">
            <span>{{ totalNetPrice }}</span>
          </div>
        </div>
      </div>
    </div>
    
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Product Data</h5>
        <table class="table table-striped">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Product Name</th>
              <th scope="col">Price</th>
              <th scope="col">Taxes</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr v-for="(product, index) in contractData.products" :key="index">
              <th scope="row">{{ index + 1 }}</th>
              <td>{{ product.name }}</td>
              <td>{{ product.real_price }}</td>
              <td>{{ Number.parseFloat(product.real_price * product.taxes / 100, 2).toFixed(2) }}</td>
              <td>{{ Number.parseFloat(product.real_price) + Number.parseFloat(Number.parseFloat(product.real_price * product.taxes / 100, 2).toFixed(2)) }}</td>
            </tr>
            <tr>
              <th></th>
              <td>Total</td>
              <td>{{ totalPrice }}</td>
              <td>{{ totalTaxes }}</td>
              <td>{{ totalNetPrice }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    contractData: Object,
  },
  computed : {
    totalPrice() {
      let total_price = 0.0
      if (this.contractData.products){
        this.contractData.products.forEach( product => {
          total_price += product.real_price
        })
      }
      return total_price
    },
    totalTaxes() {
      let total_taxes = 0.0
      if (this.contractData.products) {
        this.contractData.products.forEach( product => {
          let cur_taxes = Number.parseFloat(product.real_price * product.taxes / 100).toFixed(2)
          total_taxes += Number.parseFloat(cur_taxes)
        })
      }
      return total_taxes
    },
    totalNetPrice() {
      return Number.parseFloat(this.totalPrice) + Number.parseFloat(this.totalTaxes)
    }
  }
}
</script>