<template>
  <div>
    <div class="form-group">
      <label>Contract Number</label>
      <input type="text" class="form-control" v-model="contractData.contract_number" placeholder="Contract Number" :class=" errors.contract_number ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.contract_number" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <label>Folder Name</label>
      <input type="text" class="form-control" v-model="contractData.folder_name" placeholder="Folder Name" :class=" errors.folder_name ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.folder_name" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <label>Device Name</label>
      <input type="text" class="form-control" v-model="contractData.device_name" placeholder="Device Name" :class=" errors.device_name ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.device_name" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group" :class=" errors.start_date ? 'custom-invalid' : '' ">
      <label>Start Date</label>
      <!-- <input type="date" class="form-control" v-model="contractData.start_date" :class=" errors.start_date ? 'is-invalid' : '' "/> -->
      <date-picker v-model="contractData.start_date" :bootstrap-styling="true" format="yyyy-MM-dd" :class=" errors.start_date ? 'is-invalid' : '' "></date-picker>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.start_date" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group" :class=" errors.start_date ? 'custom-invalid' : '' ">
      <label>End Date</label>
      <date-picker v-model="contractData.end_date" :bootstrap-styling="true" format="yyyy-MM-dd" :class=" errors.end_date ? 'is-invalid' : '' "></date-picker>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.end_date" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <label>Products</label>
      <div class="row form-group" v-for="(product, index) in contractData.products" :key="index">
        <div class="col-6">
          <span class="form-control">{{ product.name }}</span>
        </div>
        <div class="col-5">
          <span class="form-control">{{ product.real_price }}</span>
        </div>
        <div class="col-1 p-0">
          <a class="fas fa-trash text-danger pt-2" style="font-size: 1.25rem" title="Delete Product" @click="contractData.products.splice(index, 1)"></a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <multi-select
            v-model="newProduct"
            :options="productList"
            placeholder="Select Product"
            track-by="id"
            label="name">
          </multi-select>
        </div>
        <div class="col-5">
          <input type="text" class="form-control" v-model="newPrice">
        </div>
        <div class="col-1 p-0">
          <a class="fas fa-plus-circle text-primary pt-2" style="font-size: 1.25rem" title="Add Product" @click="addProduct"></a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    contractData: Object,
    productList: Array,
    errors: Object
  },
  data() {
    return {
      newProduct:'',
      newPrice: ''
    }
  },
  methods: {
    addProduct() {
      if (this.newProduct) {
        this.contractData.products.push({
          id: this.newProduct.id,
          name: this.newProduct.name,
          real_price: this.newPrice,
          taxes: this.newProduct.taxes
        })      
        this.newProduct = ''
        this.newPrice = ''
      } else {
        alert ("Please select the product.")
      }
    }
  }
}
</script>