<template>
  <div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.name" placeholder="Name" :class=" errors.name ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.name" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.company" placeholder="Company Name" :class=" errors.company ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.company" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="email" class="form-control" v-model="customerData.email" placeholder="Email Address" :class=" errors.email ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.email" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.phone" placeholder="Phone Number" :class=" errors.phone ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.phone" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.address1" placeholder="Address 1" :class=" errors.address1 ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.address1" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.address2" placeholder="Address 1" :class=" errors.address2 ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.address2" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <input type="text" class="form-control" v-model="customerData.address3" placeholder="Address 1" :class=" errors.address3 ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.address3" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <multi-select
					v-model="customerData.country"
					:options="countries"
					placeholder="Select Country">
				</multi-select>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    customerData: Object,
    countries: Array,
    errors: Object
  }
}
</script>