<template>
  <div class="pt-3">
    <div class="row">
      <div class="col-6">
        <h1 class="text-dark">Customers</h1>
      </div>
      <div class="col-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-customer" @click="customerData={...emptyData}">
            Add Customer
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <vue-good-table
          :columns = "header_fields"
          :rows = showList
          :pagination-options = "pagination_options"
          :search-options = "search_options"
          theme="black-rhino">
            
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'action'">
                <a class='fas fa-edit text-primary' title="Edit Customer" data-toggle="modal" data-target="#modal-customer" @click="customerData={...props.row}"></a>
                <a class='fas fa-trash text-danger' title="Delete Customer" @click="deleteCustomer(props.row.id)"></a>
                <a class='fas fa-newspaper text-info' title="View Contract" :href="`contract/${props.row.id}`"></a>
              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
            <div slot="emptystate" class="text-center">
              No results
            </div>
        </vue-good-table>
      </div>
    </div>
    <div class="modal fade" id="modal-customer">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              {{ customerData.id ? 'Edit' : 'New' }} Customer
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <customer :customer-data="customerData" :countries="countryList" :errors="errors"></customer>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveCustomer">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>

export default {
  props: {
    customerList: Array
  },
  data() {
    return {
      header_fields: [
        {
          field: "name",
          label: "Name",
          type: 'string'
        },
        {
          field: 'company',
          label: "Company Name",
          type: 'string',
        },
        {
          field: "phone",
          label: "Phone Number",
          type: 'string',
          globalSearchDisabled: true,
          sortable: false
        },
        {
          field: 'action',
          label: "Action",
          width: '100px',
          globalSearchDisabled: true,
          sortable: false
        }
      ],
      pagination_options:{
          enabled: true,
          perPageDropdown: [5,10, 20, 50],
          perPage: 10,
      },
      search_options:{
          enabled: true,
          placeholder: "Search"
      },   
      select_options:{
          enabled: false,
      },
      errors: {},
      countryList:[],
      customerData: {},
      emptyData: {
        id: '',
        name: '',
        company: '',
        email: '',
        phone: '',
        address1: '',
        address2: '',
        address3: '',
        country: ''
      },
      showList: []
    }
  },
  created() {
    this.getCountries()
    this.showList = this.customerList
  },
  methods:{
    getCountries() {
      let vm = this
      axios.get('get-countries')
        .then( (response) => {
          vm.countryList = Object.values(response.data)
        })
        .catch( (error) => {
          console.log(error)
        })
    },
    saveCustomer() {
      let vm = this
      if (vm.customerData.id) {
        axios.put('/customers/' + vm.customerData.id, vm.customerData)
          .then( (response) => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === vm.customerData.id )
              vm.showList.splice(index, 1, vm.customerData)
            }
            vm.errors = {}
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
          })
      } else {
        axios.post('/customers', vm.customerData)
          .then( (response) => {
            if (response.data.status === 'ok') {
              vm.showList.push(response.data.customer)
              vm.errors = {}
            }
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
          })
      }
    },
    deleteCustomer(id) {
      let ret = confirm( 'Are you sure you want to delete this customer?')
      if (ret) {
        let vm = this
        axios.delete('/customers/' + id)
          .then( response => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === id )     
              vm.showList.splice(index,1)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
}
</script>