<template>
  <div class="pt-3">
    <div class="row">
      <div class="col-12">
        <h1 class="text-dark">Dashboard</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <vue-good-table
          :columns = "header_fields"
          :rows = showList
          :pagination-options = "pagination_options"
          :search-options = "search_options"
          :line-numbers="true"
          theme="black-rhino">
            
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'action'">
                <a class='fas fa-eye text-info' title="View Contract" data-toggle="modal" data-target="#modal-view-contract" @click="contractData={...props.row}"></a>
                <a class='fas fa-edit text-primary' title="Edit Contract" data-toggle="modal" data-target="#modal-contract" @click="contractData={...props.row}"></a>
                <a class='fas fa-trash text-danger' title="Delete Contract" @click="deleteContract(props.row.id)"></a>
              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
            <div slot="emptystate" class="text-center">
              No results
            </div>
        </vue-good-table>
      </div>
    </div>
    <div class="modal fade" id="modal-contract">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              {{ contractData.id ? 'Edit' : 'New' }} Contract
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <contract 
              :contract-data="contractData" 
              :errors="errors"
              :product-list="productList">
            </contract>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveContract">Save</button>
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="modal-view-contract">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              View Contract
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <contract-view
              :contract-data="contractData">
            </contract-view>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import moment from 'moment'
export default {
  props: {
    customerList: Array
  },
  data() {
    return {
      header_fields: [
        {
          field: "customer.name",
          label: "Customer Name",
          type: 'string'
        },
        {
          field: "contract_number",
          label: "Contract Number",
          type: 'string'
        },
        {
          field: "start_date",
          label: "Start Date",
          type: 'string',
        },
        {
          field: "end_date",
          label: "End Date",
          type: 'string'
        },
        {
            field: 'action',
            label: "Action",
            width: '100px',
            globalSearchDisabled: true,
            sortable: false
        }
      ],
      pagination_options:{
          enabled: true,
          perPageDropdown: [5,10, 20, 50],
          perPage: 10,
      },
      search_options:{
          enabled: true,
          placeholder: "Search"
      },   
      select_options:{
          enabled: false,
      },
      errors: {},
      contractData: {},
      emptyData: {
        id: '',
        customer_id: '',
        contract_number: '',
        folder_name: '',
        device_name: '',
        start_date: '',
        end_date: '',
        products: []
      },
      showList: [],
      productList: [],
    }
  },
  created() {
    this.initContractList()
    this.getProductList()
  },
  methods:{
    initContractList() {
      let vm = this
      vm.customerList.forEach( customer => {
        if (customer.contracts.length>0) {
          customer.contracts.forEach( contract => {
            vm.showList.push(contract)
          })
        }
      })
    },
    saveContract() {
      let vm = this
      if (vm.contractData.start_date) {
        vm.contractData.start_date = moment(vm.contractData.start_date).format("YYYY-MM-DD")
      }
      if( vm.contractData.end_date) {
        vm.contractData.end_date = moment(vm.contractData.end_date).format("YYYY-MM-DD")
      }
      console.log(vm.contractData)
      if (vm.contractData.id) {
        axios.put('/contracts/' + vm.contractData.id, vm.contractData)
          .then( (response) => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === vm.contractData.id )
              vm.showList.splice(index, 1, vm.contractData)
            }
            vm.errors = {}
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
          })
      } else {
        axios.post('/contracts', vm.contractData)
          .then( (response) => {
            console.log(response)
            if (response.data.status === 'ok') {
              vm.showList.push(response.data.contract)
              vm.errors = {}
            }
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
            console.log(vm.errors)
          })
      }
    },
    deleteContract(id) {
      let ret = confirm( 'Are you sure you want to delete this contract?')
      if (ret) {
        let vm = this
        axios.delete('/contracts/' + id)
          .then( response => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === id )     
              vm.showList.splice(index,1)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    },
    getProductList() {
      let vm = this
      axios.get('/product/all-product')
        .then( (response) => {
          if (response.data.status === 'ok') {
            vm.productList = response.data.all_product
          }
        })
        .catch( (error) => {
          console.log(error)
        })
    },
  }
}
</script>