<template>
  <div>
    <div class="form-group">
      <label>Name</label>
      <input type="text" class="form-control" v-model="productData.name" placeholder="Name" :class=" errors.name ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.name" :key="index">{{ errorMsg }}</div>
    </div>
    <div class="form-group">
      <label>Description</label>
      <textarea class="form-control" v-model="productData.description" placeholder="Description" :class=" errors.description ? 'is-invalid' : '' "></textarea>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.description" :key="index">{{ errorMsg }}</div>
    </div>
    <!-- <div class="form-group">
      <label>Price</label>
      <input type="text" class="form-control" v-model="productData.price" placeholder="Price" :class=" errors.price ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.price" :key="index">{{ errorMsg }}</div>
    </div> -->
    <div class="form-group">
      <label>Taxes</label>
      <input type="text" class="form-control" v-model="productData.taxes" placeholder="Taxes" :class=" errors.taxes ? 'is-invalid' : '' "/>
      <div class="invalid-feedback" v-for="(errorMsg, index) in errors.taxes" :key="index">{{ errorMsg }}</div>
    </div>
  </div>
</template>
<script>
export default {
  props: {
    productData: Object,
    errors: Object
  }
}
</script>