<template>
  <div class="pt-3">
    <div class="row">
      <div class="col-6">
        <h1 class="text-dark">Products</h1>
      </div>
      <div class="col-6">
        <div class="form-group float-right">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#modal-product" @click="productData={...emptyData}">
            Add Product
          </button>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <vue-good-table
          :columns = "header_fields"
          :rows = showList
          :pagination-options = "pagination_options"
          :search-options = "search_options"
          theme="black-rhino">
            
            <template slot="table-row" slot-scope="props">
              <span v-if="props.column.field == 'action'">
                <a class='fas fa-edit text-primary' title="Edit Product" data-toggle="modal" data-target="#modal-product" @click="productData={...props.row}"></a>
                <a class='fas fa-trash text-danger' title="Delete Product" @click="deleteProduct(props.row.id)"></a>
              </span>
              <span v-else>
                {{props.formattedRow[props.column.field]}}
              </span>
            </template>
            <div slot="emptystate" class="text-center">
              No results
            </div>
        </vue-good-table>
      </div>
    </div>
    <div class="modal fade" id="modal-product">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title">
              {{ productData.id ? 'Edit' : 'New' }} Product
            </h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <product :product-data="productData" :errors="errors"></product>
          </div>
          <div class="modal-footer float-right">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary" @click="saveProduct">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>

export default {
  props: {
    productList: Array
  },
  data() {
    return {
      header_fields: [
        {
          field: "name",
          label: "Name",
          type: 'string'
        },
        {
          field: 'description',
          label: "Description",
          type: 'string',
        },
        // {
        //   field: "price",
        //   label: "Price",
        //   type: 'number',
        //   globalSearchDisabled: true,
        // },
        {
          field: "taxes",
          label: "Taxes",
          type: 'number',
          globalSearchDisabled: true,
        },
        {
          field: 'action',
          label: "Action",
          width: '70px',
          globalSearchDisabled: true,
          sortable: false
        }
      ],
      pagination_options:{
          enabled: true,
          perPageDropdown: [5,10, 20, 50],
          perPage: 10,
      },
      search_options:{
          enabled: true,
          placeholder: "Search"
      },   
      select_options:{
          enabled: false,
      },
      errors: {},
      productData: {},
      emptyData: {
        id: '',
        name: '',
        description: '',
        price: '',
        taxes: '',
      },
      showList: []
    }
  },
  created() {
    this.showList = this.productList
  },
  methods:{
    saveProduct() {
      let vm = this
      if (vm.productData.id) {
        axios.put('/products/' + vm.productData.id, vm.productData)
          .then( (response) => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === vm.productData.id )
              vm.showList.splice(index, 1, vm.productData)
            }
            vm.errors = {}
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
          })
      } else {
        axios.post('/products', vm.productData)
          .then( (response) => {
            if (response.data.status === 'ok') {
              vm.showList.push(response.data.product)
              vm.errors = {}
            }
          })
          .catch( (error) => {
            if (error.response.status == 422) {
              vm.errors = error.response.data.errors;
            } else {
              console.log(error)
            }
          })
      }
    },
    deleteProduct(id) {
      let ret = confirm( 'Are you sure you want to delete this product?')
      if (ret) {
        let vm = this
        axios.delete('/products/' + id)
          .then( response => {
            if (response.data.status === 'ok') {
              let index = vm.showList.findIndex( item => item.id === id )     
              vm.showList.splice(index,1)
            }
          })
          .catch(error => {
            console.log(error)
          })
      }
    }
  }
}
</script>